Repository ishine/liquid-audio-nets: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, security-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-executables-have-shebangs

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
        args: [--all-targets, --all-features, --, -D, warnings]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [--write-changes]
        exclude: ^(\.git|\.pytest_cache|target|build)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(md|yml|yaml|json)$
        exclude: ^(\.git|target|build)/

  - repo: local
    hooks:
      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        files: \.rs$
        pass_filenames: false
        
      - id: security-check
        name: security check
        entry: python scripts/security_check.py
        language: system
        files: \.(py|rs|cpp|c|h|hpp)$
        pass_filenames: false

feat: enhance SDLC infrastructure for developing-level repository
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  CODE_OF_CONDUCT.md
  SECURITY.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/workflows/README.md
Due: none

feat: enhance SDLC infrastructure for maturing-level repository
  .github/dependabot.yml
  .vscode/launch.json
  .vscode/tasks.json
  CHANGELOG.md
  Dockerfile.dev
  docker-compose.yml
  docs/MONITORING.md
  docs/PERFORMANCE.md
  monitoring/prometheus.yml
  monitoring/rules/alerts.yml
  renovate.json
  scripts/benchmark_analysis.py
  tests/conftest.py
  tests/integration/test_end_to_end.py
  tests/performance/test_benchmarks.py
Due: security-check

feat: implement autonomous SDLC enhancement for MATURING-level repository
  .github/CODEOWNERS
  .terragon/config.yaml
  .terragon/discovered-items.json
  .terragon/value-metrics.json
  BACKLOG.md
  docs/workflows/ADVANCED_WORKFLOWS.md
  scripts/generate_backlog.py
  scripts/value_discovery.py
Due: security-check

feat: implement perpetual value discovery with core LNN functionality
  .terragon/discovered-items.json
  .terragon/value-metrics.json
  BACKLOG.md
  python/liquid_audio_nets/lnn.py
Due: security-check

docs: establish project foundation and community files
  PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/adr/0001-liquid-neural-networks-for-audio.md
  docs/adr/README.md
  docs/adr/template.md
  docs/guides/README.md
Due: none

feat: setup development environment and code quality tools
  .env.example
Due: none

test: establish comprehensive testing infrastructure
  tests/fixtures/README.md
  tests/fixtures/audio/samples.py
  tests/fixtures/configs/test_configs.py
  tests/performance/benchmark_framework.py
Due: security-check

docs: add CI/CD and security workflow documentation and templates
  docs/SETUP_REQUIRED.md
  docs/workflows/examples/cd.yml
  docs/workflows/examples/ci.yml
Due: none

feat(adaptive): add adaptive timestep control with complexity estimation (#13)
  Cargo.toml
  src/adaptive/complexity.rs
  src/adaptive/controller.rs
  src/adaptive/mod.rs
  src/adaptive/timestep.rs
  src/audio/features.rs
  src/audio/filters.rs
  src/audio/format.rs
  src/audio/mod.rs
  src/audio/processor.rs
  src/core/config.rs
  src/core/lnn.rs
  src/core/mod.rs
  src/core/ode_solver.rs
  src/core/result.rs
  src/core/state.rs
  src/lib.rs
  tests/integration_test.rs
Due: cargo-check, security-check

Update README.md
  README.md
Due: none

Implement Generation 2 & 3 Demos, Compression, Profiling, Training, Benchmarking, Caching, Concurrency, and Deployment (#18)
  Cargo.toml
  demo_generation2.py
  demo_generation3.py
  python/liquid_audio_nets/tools/__init__.py
  python/liquid_audio_nets/tools/compression.py
  python/liquid_audio_nets/tools/profiler.py
  python/liquid_audio_nets/training.py
  src/audio/filters.rs
  src/audio/processor.rs
  src/benchmark.rs
  src/cache.rs
  src/concurrent.rs
  src/core/lnn.rs
  src/deployment.rs
  src/diagnostics.rs
  src/lib.rs
  src/lib_minimal.rs
  src/optimization.rs
  src/pretrained.rs
  src/scaling.rs
  test_structure.py
  test_training_basic.py
  tests/test_basic_rust.rs
  tests/test_generation2.rs
  tests/test_generation3.rs
Due: cargo-check, security-check

feat(global-deployment): add global deployment demo and multi-region i18n compliance modules (#19)
  demo_global_deployment.py
  pytest.ini
  python/liquid_audio_nets/lnn.py
  src/compliance.rs
  src/i18n.rs
  src/lib.rs
  src/regions.rs
  tests/conftest.py
Due: cargo-check, security-check

feat(examples): add comprehensive new example scripts for LNN demos (#20)
  examples/basic_keyword_spotting.py
  examples/embedded_simulation.py
  examples/real_time_processing.py
  examples/rust_basic_demo.rs
  examples/simple_rust_test.rs
  python/liquid_audio_nets/__init__.py
  python/liquid_audio_nets/validation.py
  src/models.rs
Due: cargo-check, security-check

feat(core): add comprehensive security, validation, and error recovery to LNN (#21)
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  demo_generation1_basic.py
  demo_generation2_robust.py
  src/lib.rs
  tests/integration_test.rs
  tests/test_generation3.rs
Due: cargo-check, security-check

refactor(security): integrate SecurityContext in LNN creation and tests (#22)
  src/benchmark.rs
  src/lib.rs
  tests/test_basic_rust.rs
  tests/test_generation2.rs
  tests/test_generation3.rs
Due: cargo-check, security-check

feat(research): add comprehensive research framework for LNN validation and optimization (#23)
  TERRAGON_EXECUTION_REPORT.md
  deployment/kubernetes/research-deployment.yaml
  docker/Dockerfile.research
  docker/docker-compose.research.yml
  docs/RESEARCH_FRAMEWORK.md
  examples/research_demo.py
  python/liquid_audio_nets/research/__init__.py
  python/liquid_audio_nets/research/comparative_study.py
  python/liquid_audio_nets/research/experimental_framework.py
  python/liquid_audio_nets/research/multi_objective.py
  requirements.txt
  scripts/run_research.sh
  tests/research/test_basic_functionality.py
  tests/research/test_comparative_study.py
  tests/research/test_experimental_framework.py
  tests/research/test_multi_objective.py
Due: security-check

feat(core): add advanced ODE solvers with neuromorphic and quantum models (#24)
  src/core/ode_solver.rs
Due: cargo-check, security-check

Add advanced edge deployment, real-time processing, telemetry, and novel solvers (#25)
  RESEARCH_METHODOLOGY.md
  src/benchmark.rs
  src/cache.rs
  src/concurrent.rs
  src/core/state.rs
  src/edge/mod.rs
  src/optimization.rs
  src/pretrained.rs
  src/realtime/mod.rs
  src/realtime/processor.rs
  src/regions.rs
  src/scaling.rs
  src/telemetry/mod.rs
Due: cargo-check, security-check

feat(scaling): add advanced predictive auto-scaling with cost optimization (#26)
  src/concurrent.rs
  src/lib.rs
  src/realtime/quality.rs
  src/realtime/scheduler.rs
  src/scaling.rs
  src/security.rs
  src/validation.rs
Due: cargo-check, security-check

feat(research): add comprehensive research validation framework and scripts (#27)
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  examples/rust_basic_demo.rs
  research_validation_summary.py
  run_research_validation.py
  src/benchmark.rs
  src/compliance.rs
  src/concurrent.rs
  src/deployment.rs
  src/i18n.rs
  src/lib.rs
  src/optimization.rs
  src/pretrained.rs
  src/regions.rs
  src/scaling.rs
  tests/integration_test.rs
  tests/test_generation2.rs
  tests/test_generation3.rs
Due: cargo-check, security-check

feat(core): add next-generation AI capabilities (#28)
  src/adaptive_learning.rs
  src/hardware_acceleration.rs
  src/lib.rs
  src/multimodal.rs
  src/quantum_classical.rs
  src/self_optimization.rs
Due: cargo-check, security-check

refactor(core, models, lib): refactor core LNN implementation and enhance model factory (#29)
  src/audio/processor.rs
  src/core/lnn.rs
  src/core/state.rs
  src/lib.rs
  src/lib_old.rs
  src/models.rs
Due: cargo-check, security-check

feat(production): add production-ready demos, deployment guide, and quality tests (#30)
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  DEPLOYMENT_GUIDE.md
  basic_demo.py
  production_demo.py
  simple_demo.py
  src/adaptive/timestep.rs
  src/audio/features.rs
  src/benchmark.rs
  src/core/lnn.rs
  src/core/mod.rs
  src/core/ode_solver.rs
  src/core/result.rs
  src/core/state.rs
  src/models.rs
  test_production_quality.py
Due: cargo-check, security-check

feat(research): add autonomous SDLC completion with novel LNN research (#31)
  AUTONOMOUS_SDLC_COMPLETION_FINAL.md
  python/liquid_audio_nets/research/publication_generator.py
  python/liquid_audio_nets/research/statistical_validation.py
  src/adaptive_meta_learning.rs
  src/lib.rs
  src/quantum_optimizer.rs
Due: cargo-check, security-check

feat(autonomous_sdlc): complete autonomous SDLC with 3 generations and production-ready features (#32)
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  demo_generation1_enhanced.py
  python/liquid_audio_nets/lnn.py
  python/liquid_audio_nets/performance_optimization.py
  python/liquid_audio_nets/power_optimization.py
  python/liquid_audio_nets/validation.py
  src/adaptive/controller.rs
  src/adaptive_meta_learning.rs
  src/core/lnn.rs
  src/core/result.rs
  src/hardware_acceleration.rs
  src/multimodal.rs
  src/quantum_classical.rs
  src/self_optimization.rs
  test_all_generations_complete.py
  test_generation1_power.py
  test_generation2_validation.py
  test_generation3_performance.py
Due: cargo-check, security-check

feat(research): add autonomous SDLC completion with novel LNN algorithms and benchmarks (#34)
  AUTONOMOUS_SDLC_FINAL_COMPLETION_REPORT.md
  COMPREHENSIVE_BENCHMARK_REPORT.md
  NOVEL_ALGORITHMS_REPORT.md
  RESEARCH_VALIDATION_REPORT.md
  academic_publication_preparation.py
  autonomous_research_validation.py
  comprehensive_benchmark_results.json
  comprehensive_benchmark_suite.py
  novel_algorithms_benchmark.json
  novel_lnn_algorithms.py
  publication_package/SUBMISSION_CHECKLIST.md
  publication_package/paper/main.tex
  publication_package/paper/references.bib
  publication_package/paper/sections/bibliography.tex
  publication_package/paper/sections/mathematical_framework.tex
  publication_package/paper/sections/methodology.tex
  publication_package/paper/sections/related_work.tex
  publication_package/publication_metadata.json
  publication_package/reproducibility/Dockerfile
  publication_package/reproducibility/README_REPRODUCIBILITY.md
  publication_package/reproducibility/reproduce_paper_results.py
  publication_package/reproducibility/requirements.txt
  research_validation_results.json
  src/adaptive/complexity.rs
  src/audio/format.rs
Due: cargo-check, security-check

feat(sdlc): complete autonomous SDLC execution with production deployment (#33)
  AUTONOMOUS_SDLC_FINAL_COMPLETION.md
  advanced_scaling_system.py
  enhanced_lnn_research.py
  global_deployment_system.py
  production_deployment.py
  production_deployment_report.json
  quality_gate_report.json
  quality_gate_report.py
  robust_validation_system.py
Due: security-check

feat(validation): add advanced statistical validation with tests and metrics (#35)
  AUTONOMOUS_SDLC_COMPLETION_FINAL_TERRAGON.md
  src/adaptive/complexity.rs
  src/lib.rs
  src/validation.rs
Due: cargo-check, security-check

feat(autonomous-sdlc): add full autonomous SDLC implementation with multi-generation LNN system (#36)
  FINAL_AUTONOMOUS_SDLC_SUCCESS_REPORT.md
  basic_demo.py
  generation1_enhanced_demo.py
  generation2_health_report.json
  generation2_robust_system.py
  generation3_performance_report.json
  generation3_scalable_system.py
  install_dependencies.py
  production_readiness_report.json
  quality_gates_production_system.py
  research_mode_novel_algorithms.py
Due: security-check

feat(research): add novel liquid neural network algorithms and validation suite (#37)
  AUTONOMOUS_SDLC_RESEARCH_SUMMARY.md
  comprehensive_novel_algorithms_validation.py
  demo_novel_algorithms.py
  novel_algorithms_demo_results_20250828_000713.json
  novel_algorithms_demo_results_20250828_000832.json
  python/liquid_audio_nets/research/neuromorphic_spike_learning.py
  python/liquid_audio_nets/research/quantum_attention_mechanism.py
  python/liquid_audio_nets/research/self_evolving_nas.py
  python/liquid_audio_nets/research/temporal_coherence_algorithm.py
  validation_results/plots/performance_comparison.png
  validation_results/validation_results_20250828_000844.json
Due: security-check

feat(autonomous-ai): add comprehensive autonomous AI system with multiple modules (#38)
  autonomous_evolutionary_nas.py
  autonomous_intelligence_system.py
  breakthrough_lnn_innovations.py
  hardware_in_loop_validation.py
  quantum_neuromorphic_fusion.py
  terragon_sdlc_demo.py
  terragon_sdlc_report_1756388673.txt
  terragon_sdlc_results_1756388673.json
Due: security-check
